*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}
